@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.section1 {
  position: relative;
  height: 40vh;
  background: url(./img/pattern-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  width: inherit;
  padding: 0px 5px ;
  height: inherit;
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
}
.input:hover {
  height: 4vw;
}
.input {
  display: flex;
  height: 0vw;
  padding: 20px;
  transition: 1s;
  cursor: pointer;
}
.input:hover,
.inputimg:hover {
  height: 4vw;
  transition: 1s;
}
input:hover {
  width: 40vw;
  transform: 1s;
}

.inputimg {
  height: inherit;
  width: 4vw;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  transform: translateY(-70px);
  left: 20%;
  right: 20%;
}

/* items */
.items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #000;
background-image: linear-gradient(0deg, #000 0%, #556BD1 100%);
  width: 80vw;
  height: 13vw;

  border-radius: 10px;

  
}
.item {
  width: 300px;
  height: 100px;
  padding: 10px 10px;
  display: flex;
  margin-top: 20px;
  text-align: left;
  flex-direction: column;
  cursor: pointer;
}

.item p {
  color: #ddd;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2vw;
}
.border {
  border-left: 1px solid rgb(156, 156, 156);
  height: 4vw;
}
h1 {
  font-size: 2vw;
  font-weight: 400;

}
.item h1{
  color: #fff;
}

.section3 {
  height: 60vh;
  width: 100%;
  background: url(./img/wp3293972-world-map-4k-wallpapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 
}

a{
  font-size: 50px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (max-width: 750px) {
  input {
    width: 500p;
    height: 40px;
  }
  .inputimg {
    width: 40px;
    height: 42px;
  }
  .item {
    margin: 10px;
  }
  .items {
    transform: translateY(25px);
   
  }
}
@media (max-width: 550px) {

  .item {
    margin: 0px;
  }
  .items {
    transform: translateY(45px);
    height: 35px;
  }
  .section1{
    height: 30vh;
  }
  .section2{
    left: 1%;
    right: 1%;
  }
  .section3{
    height: 70vh;
  }
  h1:nth-child(1){
    font-size: 15px;
  }
  .items{
    background-color:  #556BD1;
    height: 70px;
    width: 95%;
    
  }
}
@media(max-width: 450px){
  .item p{
 font-size: 8px;
  }
  .item h1{
   font-size: 8px;
  }
  
}
